{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <div class="block-montant-quantite">
        <h1>Détails de la commande</h1>
        <h4>Quantité totale : {{ quantiteTotale }}</h4>
        <h4>Montant total : {{ montantTotal }}€</h4>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alerte">{{ message }}</div>
    {% endfor %}

    <div class="formulaire">
        {{ form_start(form) }}
            <div class="block-formulaire">
                {{ form_row(form.prenom) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.numero) }}
                {{ form_row(form.submit) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
